{% extends "base.html" %}
{% load static %}
{% block content %}
        <section class="CONTAINER">
            <div class="row main">
                <div class="col-md-6 mb-auto content1">
                    <h1>Learn <br> new concepts <br> for each question</h1>
                    <p>We help you prepare for exams and quizes </p>
                    <button class="btn btn-warning"><a href="/quiz/">start quiz</a></button>
                </div>
                <div class="col-md-6">
                    <img src="/static/image/header.jpg" alt="">
                </div>
            </div>
        </section>


{% endblock content %}