{% extends "base.html" %}
{% load static %}
{% block content %}
        <section>
            <div class="row main">
                <div class="col-md-6 mb-auto content1">
                    <h1>Learn <br> new concepts <br> for each question</h1>
                    <p>We help you prepare for exams and quizes </p>
                    <button class="d-inline"><a href="/quiz">Start solve</a></button>
                    <h4 class="d-inline">know more</h4>
                </div>
                <div class="col-md-6">
                    <img src="/static/image/header.jpg" alt="">
                </div>
            </div>
        </section>


{% endblock content %}