{% extends "base.html" %}
{% load static %}
{% block content %}
<br><br><br><br>
<div class=" row  offset-sm-1 container">
  <div class="col-md-6 col-xl-6 p-5">
    <ol>
      {% for quiz in Question %}
      <li class="quiz">
        <h2 class="h1 mb-md-5">savol</h2>
        <p class=" h1 text-400">{{ quiz.title}}</p>
    
          <ol type="A">
            {% for answer in quiz.answer.all %}
            <label class="radio-input">
                <li class="ml-5">
                {{answer.answer_text}}
                <input type="radio" name="{{quiz.slug}}" class="check" id="{{answer.id}}">
                <span class="checkmark"></span>
              </li>
              </label>
            {% endfor %}
          </ol>
        </li>
        {% endfor %}

    </ol>
    <div class="d-flex align-items-start mt-5">
      <div>
          <button class="btn btn-warning text-light submit">
           submit
          </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="/static/image/header.jpg" alt="">
  </div>
</div>

</div>
{% endblock content %}