body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    padding: 5px 16px;
    position: fixed !important;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 10px #3B3B3B33,
                0 0 20px #3B3B3B22,
                0 0 30px #3B3B3B11;
}

.navbar img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: #1d1d1d;
    padding-left: 0;
    padding-right: 50px;
    font-size: 24px;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #3B3B3Be1;
}

.navbar .navbar-brand i {
    font-size: 25px;
    margin-right: 5px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 35px;
    min-height: 38px;
    border: 0.5px solid #1d1d1d;
    background: transparent;
    border-radius: 3px !important;
}

.search-box input:focus {
    border: 0.5px solid #FFCD2D;
    background: transparent;
    border-radius: 3px !important;
}

.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 10px 7px;
    height: 100%;
}

.search-box i {
    color: #3B3B3B;
    font-size: 19px;
}

.navbar .nav-item i,
.navbar .nav-item a{
    color: #3B3B3B;
    font-size: 18px;
}
.navbar .nav-item button{
    width: 105px;
    height: 40px;
    padding: 5px; 
    font-size: large;
    color: #1d1d1d;
    background-color: #fff;
    border: 1px solid #1d1d1d;
    outline: #FFCD2D22;
}
.navbar .nav-item span {
    position: relative;
    top: 3px;
}

.navbar .navbar-nav > a {
    color: #3B3B3B;
    padding: 8px 15px;
    font-size: 14px;
}

.navbar .navbar-nav>a:hover,
.navbar .navbar-nav>a:focus {
    text-shadow: 0 0 2px #3B3B3B44;
}

.navbar .navbar-nav>a>i {
    display: block;
    text-align: center;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .nav-item.open>a,
.navbar .nav-item.open>a:hover,
.navbar .nav-item.open>a:focus {
    color: #fff;
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    background-color: #fff;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a {
    color: #3B3B3B !important;
    padding: 8px 20px;
    line-height: normal;
    font-size: 15px;
}

.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
    color: #333 !important;
    background: transparent !important;
}

.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    background: transparent !important;
}

.navbar .navbar-nav .user-action {
    padding: 9px 15px;
    font-size: 15px;
}

.navbar .navbar-toggle,
.navbar .navbar-toggler i {
    border-color: #3B3B3B;
    color: #3B3B3B;
}

.navbar .navbar-toggle .icon-bar {
    background: #3B3B3B;
}

.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
    background: #3B3B3B;
}

.navbar .navbar-nav .open .dropdown-menu {
    background-color: #3B3B3B;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .divider {
    background-color: #3B3B3B !important;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
    }
}

@media (max-width: 1199px) {
    .navbar .navbar-nav>a>i {
        display: inline-block;
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }

    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .navbar .navbar-form {
        border: none;
        display: block;
        margin: 10px 0;
        padding: 0;
    }

    .navbar .navbar-nav {
        margin: 8px 0;
    }

    .navbar .navbar-toggle {
        margin-right: 0;
    }

    .input-group {
        width: 100%;
    }
}
.main{
    padding-top: 4rem;
    margin-bottom: 5rem
}
.main .content1{
    margin-top: 6rem;
    padding-left: 4vw;
}
.main h1{
    font-size: 2.8rem;
    margin: 40px;
}
.main p{
    margin: 40px;
    font-size: 2rem;
    padding-left: 10px;
    border-left: 2px solid #1d1d1d;
}
.main button{
    margin: 40px;
    width: 100px;
    height: 52px;
    background-color: #FFCD2D;
    border: #FFCD2D;
    outline: #FFCD2D;
    color: #fff;
    font-size: large;
    box-shadow: 0 4px 1px #FCC82211 ,
                0 4px 1px #FFCD2D22;
}
.main h4{    
    color: #FCC822;
    font-size: 2rem;
}

header{
    padding-top: 6rem;
}
header{
    margin: 40px;
}
.h0{
    font-size: 3rem;
}
/*# sourceMappingURL=theme.css.map */
.radio-input {
    display: block; 
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .radio-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-input:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .radio-input input:checked ~ .checkmark {
    background-color: #FFCD2D;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .radio-input input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
.radio-input .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.point{
    z-index: -2;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url(/static/image/alert.png) center #FFF no-repeat;
    position: fixed !important;
    top: 0;
}
.point .h1{
    font-size: 14rem;
    position: absolute;
    top: 23vh;
    left: 42.5vw;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .point{
        background-size: 200vw;
    }
    .point .h1{
        font-size: 8rem;
        left: 35vw;
        top: 28vh;
    }
}
.go-back{
    width: 9rem;
    position: absolute;
    left: 80vw;
    top: 80vh;
    padding: 15px; 
    font-size: large;
    text-decoration: none;
    color: #FFF;
    background-color: #FFCD2D;
}
.errorlist{
    color: red;
}
li.quiz::marker{
    font-size: xx-large !important;

}

